@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;

}


.main-wrapper {
    width: 100%;
    height: 100vh;
    
    >.image-bg {
        background: #1A1721 !important;
    }
    >.inner-wrapper, .get-mail  {
    
    background-image: url("../img/banner-bg.jpg");
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
        >.hr {
            width: 200px;
            margin: 0 auto;
            color: #2A2633;
        }
        >.body-wrapper {
            width: 90%;
            max-width: 900px;
            margin: auto;

            >.intro {
                width: 100%;
                min-height: 100vh;
                margin: 0 auto;
                text-align: center;
                background:transparent;
                padding: 8rem;

                >h1 {
                    margin: 2rem 0;
                    color: #8A3A60 !important;
                }

                >p {
                    margin: 2rem 0;
                    color: #8F4066;
                }

                >input {
                    font-size: 1.125em;
                    letter-spacing: 0.025rem;
                    font-weight: 300;
                    border-radius: 1rem;
                    outline: 0;
                    width: 50%;
                    background: transparent;
                    text-align: center;
                }
                .from1email, .hireme {
                    height: 3.6rem;
                    padding: 0 1.2rem;
                    color: #fff;
                    border: solid 1px #8F4066;
                    border-radius: 1rem;
                    font-size: 1.25em;
                    font-weight: 300;
                    letter-spacing: .25px;
                    background: transparent;
                    outline: 0;

                }
                .from1email:focus {
                    border: solid 1px #c282a0;
                }
                input.from1email::placeholder {
                    color: #8F4066;
                }
                button.hireme {
                    background: #8F4066;
                    border: 0;
                    cursor: pointer;
                    transition: .5s all ease;
                    margin-left: 10px;
                }
                button.hireme:hover {
                    background: #c282a0;
                    transition: .5s all ease;
                }
            }
        }
        >.cat {
            width: 100%;
            display: flex;
            >.cat-left, .cat-right {
                width: 50%;
                text-align: center;
                padding: 80px 30px 80px 100px;
                border-top: 1px solid #2A2633;
                border-bottom: 1px solid #2A2633;
            }
            >.cat-right {
                border-left: 1px solid #2A2633;
                padding: 80px 100px 80px 30px;
            }
            img {
                width: 80px;
                border-radius: 50%;
                margin-bottom: 30px;
            }
            >.cat-left h3, .cat-right h3 {
                color: #8A3A60 !important;
                font-family: 'Poppins', sans-serif;
                font-size: 1.5em !important;
                line-height: 1.625;
                font-weight: 200;
                margin-bottom: 20px !important;
            }
            >.cat-left p, .cat-right p {
                color: rgba(255,255,255,0.4);
                font-family: 'Inter', sans-serif;
                letter-spacing: 0.025rem;
                width: calc(100% + 0.025rem);
                font-size: 1em !important;
                line-height: 2;
                font-weight: 200;
            }
        }
        .cat-r-img {
            width: 100%;
            max-width: 400px;
            height: 500px;
            background: #fff;
            border-radius: 20px !important;
            >img {
                width: 100% !important;
                height: 100% !important;
                border-radius: 20px !important;
            }
        }
        >.price {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                max-width: 1000px;
                background: rgba(255, 255, 255, 0.05);
                border-radius: 20px;
                margin: auto;
                backdrop-filter: blur(10px);
                box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.02);
                .pp-inner {
                    padding: 5rem;
                    border: 0 !important;
                }
                >.price-basic, .price-preium {
                    >.pp-inner{
                        .ph1 {
                            text-transform: uppercase !important;
                            color: #8F4066 !important;
                            letter-spacing: 0.15rem !important;
                            font-size: 0.875em !important;
                            font-weight: 500 !important;
                            margin: 15px 0;
                        }
                        .ph2 {
                            color: #FFFFFF !important;
                            font-size: 3.625em !important;
                            font-weight: 400 !important;
                            margin: 30px 0 !important;
                        }
                        .ph3 {
                            color: #8F4066  !important;
                            font-size: 1.5em !important;
                            font-weight: 300 !important;
                        }
                        .php {
                            color: rgba(255,255,255,0.4) !important;
                            letter-spacing: 0.025rem !important;
                            font-size: 1em !important;
                            line-height: 2 !important;
                            font-weight: 200 !important;
                        }
                    }
                }
            }
        >.hr2 {
            width: 1px;
            height: 100px;
            background: #2A2633;
            margin: auto;
        }
        >.testimonial {
            width: 60%;
            max-width: 600px;
            height: 400px;
            margin: auto;
            border-radius: 20px;
            border: 1px solid #2A2633 ;
            .testimonial-innner {
                text-align: center;
                padding: 60px 35px;
                width: 100%;
                height: 100%;
                h3 {
                    padding: 1.7rem 0;
                    color: rgba(255,255,255,0.4) !important;
                    font-size: 1.5em !important;
                    font-weight: 200 !important;
                }
                p {
                    color: rgba(255,255,255,0.4) !important;
                    font-size: 1em !important;
                    font-weight: 200 !important;
                }
            }
            .testimonial-innner img {
                width: 80px;
                border-radius: 50%;
                margin-bottom: 30px;
            }
        }
       
    }
    >.get-mail {
        width: 100%;
        .mail-intro {
            width: 100%;
            margin: 0 auto;
            text-align: center;
            background:transparent;
            padding: 6rem 5rem;
            
            >h1 {
            margin: 2rem 0;
            color: #8A3A60 !important;
            }
            >p {
                margin: 2rem 0;
                color: #8F4066;
            }
            >button.mail-btn {
                cursor: pointer;
                -webkit-transition: .5s all ease;
                transition: .5s all ease;
                margin-left: 10px;
                width: 8.75rem;
                line-height: 3.6rem;
                font-weight: 300;
                border-radius: 20px;
                font-size: 1.12em;
                border: 1px solid #8A3A60;
                background: transparent;
                color: #fff;
            }
            >button.mail-btn:hover {
                background: #c282a0;
                border: 1px solid #c282a0;
                transition: .5s all ease;
            }
        }
    }
    .footer {
        width: 100%;
        height: 200px;
        background: #1A1721;
        .inner-footer {
            padding: 2rem 0;
            text-align: center;
            p {
                color: #8A3A60 !important;
                font-size: 1em;
                font-weight: 300 !important;
            }
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            li {
                list-style: none;
            }
            a {
                text-decoration: none;
                text-align: center;
                color: #8A3A60 !important;
                font-size: 1.5em;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 1px solid #2A2633;
                background: transparent;
                margin: 20px;
                display: inline-block;
                text-align: center !important;
                transition: .5s all ease;
            }
            a:hover {
                border: 1px solid #c282a0;
                transition: .5s all ease;
            }
            svg.svg-inline--fa.fa-twitter.fa-w-16,
            svg.svg-inline--fa.fa-instagram.fa-w-14,
            svg.svg-inline--fa.fa-facebook-f.fa-w-10 {
                margin-top: 12px;
            }
        }
    }

}










